<%= render 'pages/home' unless user_signed_in? %>

  <% @pins.each do |pin| %>
  <div class="panel-holder">
    <div class="panel panel-default">
      <div class="panel-heading center">
        <%= link_to image_tag(pin.image.url(:medium)), pin %>
      </div>
          <div class="panel-body">
            <div class="description">
                <p><%= pin.description %></p>
            </div>
            <div class="username">
                <p><em><%= pin.user.name if pin.user %></em></p>
            </div>  
            
            <% if pin.user == current_user %>
              <div class="actions">
                <%= link_to edit_pin_path(pin) do %><span class="glyphicon glyphicon-edit actions"></span>
                <% end %>  
                
                <%= link_to @pin, method: :delete, data: { confirm: 'Are you sure you want to delete this... forever?' } do %><span class="glyphicon glyphicon-trash actions">&nbsp;</span>
                <% end %>
              </div>
            <% end %>
    
          </div>
      
    </div>
  </div>
  <% end %>

<div class="center">
  <%= will_paginate @posts, renderer: BootstrapPagination::Rails %>
</div>