<div class="panel panel-default">
  <div class="panel-heading">
    <div class="panel-title">
      <h3>Welcome back</h3>
    </div>
  </div>
  <div class="panel-body">
    <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>

      <div class="form-group">
        <% f.label :email %>
        <%= f.email_field :email, class: "form-control", placeholder:"Email", :autofocus => true %>
      </div>

      <div class="form-group">
        <% f.label :password %>
        <%= f.password_field :password, placeholder:"Password", class: "form-control" %>
      </div>

      <div class="form-group">
        <div class="checkbox">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>
      </div>

      <div class="form-group">
        <%= f.submit "Sign in", class: "btn btn-primary" %>
      </div>
    <% end %>
    <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
  
<% end -%>
  </div>
  <div class="panel-footer">
  <p><%= link_to "Forgot your password?", new_password_path(resource_name) %></p><br />  
  </div>
</div>